<div class="ado-tab-container">
  <p-tabView 
    [(activeIndex)]="activeTabIndex" 
    (onChange)="onTabChange($event)"
    styleClass="sub-tabview">
    
    <p-tabPanel header="Work Items" leftIcon="pi pi-list">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 0"></router-outlet>
      </div>
    </p-tabPanel>
    
    <p-tabPanel header="Boards" leftIcon="pi pi-th-large">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 1"></router-outlet>
      </div>
    </p-tabPanel>
    
    <p-tabPanel header="Queries" leftIcon="pi pi-search">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 2"></router-outlet>
      </div>
    </p-tabPanel>
    
  </p-tabView>
</div>