<div class="repos-tab-container">
  <p-tabView 
    [(activeIndex)]="activeTabIndex" 
    (onChange)="onTabChange($event)"
    styleClass="sub-tabview">
    
    <p-tabPanel header="Repositories" leftIcon="pi pi-folder">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 0"></router-outlet>
      </div>
    </p-tabPanel>
    
    <p-tabPanel header="Pull Requests" leftIcon="pi pi-git-merge">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 1"></router-outlet>
      </div>
    </p-tabPanel>
    
    <p-tabPanel header="Commits & Branches" leftIcon="pi pi-sitemap">
      <div class="subtab-content-wrapper">
        <router-outlet *ngIf="activeTabIndex === 2"></router-outlet>
      </div>
    </p-tabPanel>
    
  </p-tabView>
</div>